/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "fuente";
  src: url("/font/KFOlCnqEu92Fr1MmSU5fBBc4AMP6lQ.woff2") format("woff2"), url("") format("woff");
}

/* ******************************** */

/* Colores */

/* ******************************** */



* {

  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* Header */

header {
  background-color: white;
  height: 100vh;
}

nav {

  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 13vh;
  padding: 40px;
}

.logo {
  height: 50px;
}


nav ul {

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  font-family: fuente;
  font-weight: lighter;
  font-size: 13px;
  letter-spacing: 3px;
  color: #444;
  text-transform: uppercase;
  padding: 1em;
}

ul li a {
  color: black;
  font-size: 15px;
}

.slide-images {

  height: 90vh;
  background-image: url(../img/desktop/perro-salchicha.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Main */


.midle-text {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-family: fuente;
  letter-spacing: 5px;
  height: 350px;
  gap: 30px;
  margin-top: 120px;
}

.texto-p {

  font-family: fuente;
  letter-spacing: 5px;
}

.texto-g {

  font-weight: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.stick-line {

  border: .6px solid black;
  height: 100px;

}

/* Galeria imagenes */


.galeria {

  display: flex;
  justify-content: center;

}

.galeria-images {
  width: 1000px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-column-gap: 11px;
  grid-row-gap: 11px;
  grid-template-areas:
    "one one two"
    "one one four"
    "three five four"
    "three six six"
    "seven six six";
}

.ramo-flores {

  grid-area: one;

}

.jarron-flores {
  grid-area: two;
}

.gif {

  grid-area: five;
}

.tienda {

  grid-area: four;
}

.cartel-emy {

  grid-area: three;
}

.pared-escalera {
  grid-area: seven;
}

.coffi-lab {

  grid-area: six;

}

.final-text {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-family: fuente;
  height: 350px;
  gap: 30px;
}

.lets {

  padding: 10px 30px;
  color: #757575;
  border: 1px solid;
  border-color: #606060;
  letter-spacing: 3px;
  font-size: 12px;

}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f5f0;
}

.caja-footer {

  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  width: 1000px;
  padding: 40px;
}

.caja-footer img {

  width: 100px;
}

.caja-footer p {
  font-family: "proxima-nova", sans-serif;
  font-weight: 300;
}

.copy {

  display: flex;
  justify-content: center;
  border-top: 1px solid black;
  width: 1000px;
  padding: 40px;
  text-align: center;
}

.texto-copy {

  text-align: center;

}